FUNDING_BOT_BINANCE_API_KEY=
FUNDING_BOT_BINANCE_SECRET=
FUNDING_BOT_BSC_PRIVATE_KEY=
FUNDING_BOT_OKX_API_KEY=
FUNDING_BOT_OKX_SECRET_KEY=
FUNDING_BOT_OKX_PASSPHRASE=
FUNDING_BOT_OKX_PROJECT_ID=
FUNDING_BOT_DASHBOARD_PASSWORD=
FUNDING_BOT_WEBHOOK_URL=
FUNDING_BOT_TELEGRAM_TOKEN=
FUNDING_BOT_TELEGRAM_CHAT_ID=
